{% load static %}

<aside class="event-sidebar">
    <a href="/" class="logo" title="{{ conference.event }} {{ conference.name }} - {{ conference.city }} {{ conference.year }}"></a>
    <hr class="line">
    <h1>{{ person.full_name }}</h1>
    <p class="event-sidebar__text">
        {{ conference.address }}, {{ conference.city }}
    </p>
    <p class="event-sidebar__text">
        <i class="event-sidebar__icon far fa-calendar-alt"></i>
        {{ conference.from_date }} - {{ conference.to_date }}
    </p>
    <p class="event-sidebar__text">
        <i class="event-sidebar__icon fas fa-users"></i>
        {{ conference.max_attendees }} attendees
    </p>
    <p class="event-sidebar__text">
        <i class="event-sidebar__icon fas fa-globe"></i>
        {{ conference.get_type_display }}
    </p>

    <div class="event-button__wrapper">
        {% if conference.tickets %}
            <a class="button button--yellow mb-xs-80" href="{{ conference.tickets }}" target="_blank" role="button">Join Us!</a>
        {% endif %}
    </div>
    <h3 class="supported-by">Visit me @</h3>
    {% if person.facebook %}<a href="{{ person.facebook }}"><img class="social-logo" src="{% static 'img/icons8-medium.svg' %}"></a>{% endif %}
    {% if person.linkedin %}<a href="{{ person.linkedin }}"><img class="social-logo" src="{% static 'img/icons8-linkedin.svg' %}"></a>{% endif %}
    {% if person.github %}<a href="{{ person.github }}"><img class="social-logo" src="{% static 'img/icons8-github.svg' %}"></a>{% endif %}
</aside>
